@model DateTime
@{
}
@if (Model.AddHours(1) > DateTime.Now)
{
    <span>@((DateTime.Now - Model).Minutes) minutes ago</span>
}
else if (Model.Date == DateTime.Today)
{
    <span>today @Model.ToString("HH:mm")</span>
}
else if (Model.Date.AddDays(1) == DateTime.Today)
{
    <span>yesterday @Model.ToString("HH:mm")</span>
}
else
{
    <span>@Model.ToShortDateString()</span>
}
