@page
@model IndexModel

<div class="top-container">
    <h2>My account  <i class="fas fa-user"></i></h2>
    <a asp-controller="Home" asp-action="Index" asp-area="CustomUser" class="btn-back">Back to forum</a>
</div>
<div style="border-top: 2px groove #ffffff; margin-bottom:10px"></div>

<partial name="_StatusMessage" model="Model.StatusMessage" />
<form method="post" enctype="multipart/form-data" class="my-flex-container">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div>
        <img src="@Model.Input.Image" style="width:200px;height:auto; border-radius:15px;" />
    </div>
    <div>
        <div class="form_item">
            <label asp-for="Username"></label>
            <input asp-for="Username" readonly class="form-control" />
        </div>
        <div class="form_item">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" readonly class="form-control" />
        </div>
        <div class="form_item">
            <label asp-for="@Model.Input.Image"></label><br />
            <input type="file" name="files" class="btn-yel" />
        </div>
        <input type="submit" value="Update image" class="btn-create" />
    </div>
</form>

<div style="border-top: 2px groove #ffffff; margin: 40px 0 10px 0;"></div>
<div style="margin: 20px;">
    <h3>More account options:</h3>
    <ul>
        <li><a asp-page="Email" style="color:skyblue; font-weight:600;">Change email</a></li>
        <li><a asp-page="ChangePassword" style="        color: skyblue;
        font-weight: 600;">Change password</a></li>
        <li><a asp-page="DeletePersonalData" style="color:red; font-weight:600;">Delete account</a></li>
    </ul>
</div>



@section Scripts{

    <partial name="_ValidationScriptsPartial" />
}
