@model IEnumerable<Forum.Models.Category>
@{
    ViewData["Title"] = "Index";
}




<div class="top-container">
    <h2>Forums</h2>
</div>
<div style="border-top: 2px groove #ffffff"></div>
@if (Model.Count() > 0)
{
    <table class="table table-dark">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><img src="@item.Image" style="width:5vw; display:block; border-radius:15px;" /></td>
                    <td>
                        <a asp-action="Index" asp-controller="Topic" asp-area="CustomUser" asp-route-id="@item.Id" style="font-size:22px; color:#B9F98A">@Html.DisplayFor(m => item.Name)</a><br />
                        @Html.DisplayFor(m => item.Description)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

else
{
    <div class="my-container">
        Brak forum :/
    </div>
}