@model Forum.Models.Category
@{
    ViewData["Title"] = "Delete";
}

<div class="top-container">
    <h2>Delete category</h2>
    <a asp-controller="Category" asp-action="Index" class="btn-back">Back to list</a>
</div>
<div style="border-top: 2px groove #ffffff"></div>

<form method="post" enctype="multipart/form-data" asp-action="Edit" class="my-flex-container">
    <input type="hidden" asp-for="Id" />
    <div>
        <img src="@Model.Image" style="width:200px;height:auto; border-radius:15px;" />
    </div>
    <div>
        <div class="form_item">
            <label asp-for="Name"></label>
            <input asp-for="Name" placeholder="Name" class="form-control" readonly />
        </div>
        <div class="form_item">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" placeholder="Description" class="form-control" style="height:100px" readonly></textarea>
        </div>
        <input type="submit" value="Submit" class="btn-del" />
    </div>
</form>


@section Scripts{

    <partial name="_ValidationScriptsPartial" />
}
