@model IEnumerable<Forum.Models.Category>
@{
    ViewData["Title"] = "Index";
}




<div class="top-container">
    <h2 >Category</h2>
    <a asp-controller="Category" asp-action="Create" class="btn-create">Create new category</a>
</div>
<div style="border-top: 2px groove #ffffff"></div>
@if (Model.Count() > 0)
{
    <div class="my-container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(m=>item.Name)</td>
                        <td>@Html.DisplayFor(m => item.Image)</td>
                        <td>@Html.DisplayFor(m => item.Description)</td>
                        <td>btn</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

else
{
    <div class="my-container">
        Brak kategorii
    </div>
}

