@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="top-container">
<h2>Log in</h2>
<a asp-controller="Home" asp-action="Index" asp-area="CustomUser" class="btn-back">Back to forum</a>
</div>
<div style="border-top: 2px groove #ffffff"></div>

<div class="my-flex-container">
    <form method="post" id="account">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form_item">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" placeholder="Email" class="form-control" />
            <span asp-validation-for="Input.Email" style="color: #FFA7A7; font-size:17px"></span>
        </div>
        <div class="form_item">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" placeholder="Password" class="form-control" />
            <span asp-validation-for="Input.Password" style="color: #FFA7A7; font-size:17px"></span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <input type="submit" value="Log in" class="btn-create" style="margin-top:30px;" />
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
