#index-container {
    width: 66%;
    margin: auto;
    background-color: #3A3745;
    opacity: 0.75;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

#img-back {
    background-image: url(../img/background/backgroundIndex.jpeg);
}

.my-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.top-container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.btn-create {
    background-color: green;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    padding: 9px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

    .btn-create:hover {
        background-color: white;
        color: green;
        border: 2px solid green;
        text-decoration: none;
    }


.btn-back {
    background-color: cornflowerblue;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    padding: 9px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

    .btn-back:hover {
        background-color: white;
        color: cornflowerblue;
        border: 2px solid cornflowerblue;
        text-decoration: none;
    }


.form_item { 
    margin-bottom: 20px;
    color:lightgreen;
    font-size:23px;
    font-family: Arial;
    width: 330px;
}


.btn-yel {
    background-color: #F0F263;
    border-radius: 10px;
    border: 2px solid white;
    color: black;
    padding: 9px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

    .btn-yel:hover {
        background-color: black;
        color: #F0F263;
        border: 2px solid #F0F263;
        text-decoration: none;
    }


.btn-del {
    background-color: #C14B5F;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    padding: 9px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

    .btn-del:hover {
        background-color: white;
        color: #C14B5F;
        border: 2px solid #C14B5F;
        text-decoration: none;
    }

